<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Block card</title>
</head>
<body>
<div th:insert="fragments/navBar :: 'header'"></div>


<div class="container">
    <div class="row">

        <div style="width:450px; margin-top:30%; margin-left: 30%" class="card">
            <article class="card-body">

                <h4 class="card-title mb-4 mt-1">Confirm</h4>
                <form th:action="@{/client/card/{number}/top-up(number=${card.number})}" method="post">
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" class="form-control" placeholder="password" type="password">

                    </div>
                   <!-- <c:if test="${requestScope.passwordNotValid != null}">
                        <p style="color: red">
                            <fmt:message key="${requestScope.passwordNotValid}"/>
                        </p>
                    </c:if>
                    <c:if test="${requestScope.wrongPassword != null}">
                        <p style="color: red">
                            <fmt:message key="${requestScope.wrongPassword}"/>
                        </p>
                    </c:if>-->
                    <div class="form-group mx-sm-3 mb-2">
                        <a style="background-color: lightcoral" href="${Path.CARDS_PATH}"
                           class="btn btn-outline-secondary">
                            Cancel
                        </a>
                        <button style="margin-left: 150px" type="submit" class="btn btn-primary">
                            Confirm
                        </button>
                    </div>
                   <!-- <input type="hidden" name="cardId" value="${requestScope.cardId}">-->
                </form>
            </article>
        </div> <!-- card.// -->


    </div> <!-- row.// -->

</div>


</body>
</html>