<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My payments</title>
</head>
<body>
<div th:insert="fragments/navBar :: 'header'"></div>


<div th:if="${!paymentList.isEmpty()}">


    <form th:action="@{/client/payments}" method="get">
        <input th:if="${param.page != null}" type="hidden" name="page" th:value="${param.page[0]}">

        <div style="width: 30%" class="row">
            <div class="col">
                <label for="typeSort" th:text="#{sortBy}"> </label>
                <select name="sort" class="form-control" id="typeSort">


                    <option th:if="${param.sort == null}" value="creationTimestamp" th:text="#{date}"></option>
                    <option th:if="${param.sort == null}" value="id" th:text="#{number}"></option>


                    <option th:selected="${param.sort[0] == 'creationTimestamp'}" th:unless="${param.sort == null}"
                            value="creationTimestamp" th:text="#{date}"></option>
                    <option th:selected="${param.sort[0] == 'id'}" th:unless="${param.sort == null}" value="id"
                            th:text="#{number}">>
                    </option>


                </select>
            </div>
            <div class="col">
                <label for="orderSort" th:text="#{sortingOrder}"></label>
                <select name="order" class="form-control" id="orderSort">

                    <option th:if="${param.order == null}" value="asc" th:text="#{ascending}">asc</option>
                    <option th:if="${param.order == null}" value="desc" th:text="#{descending}">desc</option>

                    <option th:selected="${param.order[0] == 'asc'}" th:unless="${param.order == null}" value="asc"
                            th:text="#{ascending}">
                    </option>
                    <option th:selected="${param.order[0] == 'desc'}" th:unless="${param.order == null}" value="desc"
                            th:text="#{descending}">
                    </option>
                </select>
            </div>
            <input th:if="${param.size != null}" type="hidden" name="size" th:value="${size}">
            <div class="col">
                <input class="btn btn-primary" type="submit" th:value="#{sort}"/>
            </div>
        </div>
    </form>


    <div th:if="${paymentList != null}" class="container">
        <div class="row col-md-6 col-md-offset-2 custyle">
            <table class="table table-striped custab">
                <thead>
                <tr>
                    <th th:text="#{number}"></th>
                    <th style="padding-right: 150px" th:text="#{senderName}"></th>
                    <th style="padding-right: 150px" th:text="#{senderCard}"></th>
                    <th th:text="#{balanceBefore}"></th>
                    <th th:text="#{paymentSum}"></th>
                    <th th:text="#{balanceAfter}"></th>
                    <th style="padding-right: 150px" th:text="#{recipientName}"></th>
                    <th style="padding-right: 150px" th:text="#{recipientCard}"></th>
                    <th style="padding-right: 150px" th:text="#{date}"></th>
                    <th th:text="#{status}"></th>
                    <th class="text-center" th:text="#{cardAction}"></th>
                </tr>
                </thead>
                <tr th:each="payment : ${paymentList}">
                    <td th:text="${payment.id}"></td>
                    <td th:text="${payment.userId.firstName + ' ' + payment.userId.lastName+ ' ' + payment.userId.surname}"></td>
                    <td th:text="${payment.cardSenderId.number}"></td>

                    <td th:if="${session.user.id == payment.userId.id}">
                        <span th:if="${payment.send == true}" th:text="${payment.balance + payment.money}"></span>
                        <span th:if="${payment.send == false}" th:text="${payment.balance}"></span>
                    </td>
                    <td th:if="${session.user.id != payment.userId.id}">
                    <span th:if="${payment.send == true}"
                          th:text="${payment.balanceDestination - payment.money}"></span>
                        <span th:if="${payment.send == false}" th:text="${payment.balanceDestination}"></span>
                    </td>
                    <td th:text="${payment.money}"></td>

                    <td th:if="${session.user.id == payment.userId.id}">
                        <span th:if="${payment.send == true}" th:text="${payment.balance}"></span>
                        <span th:if="${payment.send == false}" th:text="${payment.balance - payment.money}"></span>
                    </td>
                    <td th:if="${session.user.id != payment.userId.id}">
                        <span th:if="${payment.send == true}" th:text="${payment.balanceDestination}"></span>
                        <span th:if="${payment.send == false}"
                              th:text="${payment.balanceDestination + payment.money}"></span>
                    </td>
                    <td th:text="${payment.userDestinationId.firstName + ' ' + payment.userDestinationId.lastName+ ' ' + payment.userDestinationId.surname}"></td>
                    <td style="width: 2000px" th:text="${payment.cardDestinationId.number}"></td>
                    <td th:text="${#temporals.format(payment.creationTimestamp, 'dd-MM-yyyy HH:mm')}"></td>

                    <td class="badge badge-success" th:if="${payment.send}" th:text="#{statusSent}"></td>
                    <td class="badge badge-warning" th:if="${!payment.send}" th:text="#{statusPrepared}"></td>


                    <form th:if="${payment.send == false && payment.cardSenderId.userId.id == session.user.id}"
                          th:action="@{/client/card/payment/confirm}" method="post">
                        <input type="hidden" name="paymentId" th:value="${payment.id}">

                        <td>
                            <button name="action" value="confirm" type="submit" class="btn btn-success btn-lg btn-block"
                                    th:text="#{confirm}"></button>
                        </td>
                    </form>

                    <td th:if="${param.invalidBalance != null}">
                    <span style="color: red" th:if="${param.invalidBalance[0] == payment.id.toString()}"
                          th:text="#{outOfMoney}"></span>
                    </td>
                    <td th:if="${param.blockedCard != null}">
                    <span style="color: red" th:if="${param.blockedCard[0] == payment.id.toString()}"
                          th:text="#{blocked}"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <nav style="padding-left: 10px" staria-label="Page navigation example">

        <ul class="pagination">
            <li class="page-item active" th:each="i : ${#numbers.sequence(0, (page - 1))}">
                <a class="page-link"
                   th:href="@{'/client/payments?page=' + ${i} + '&sort=' + ${sort} + '&order=' + ${order} + '&size=' + ${size}}"
                   th:text="${i+1}"></a>
            </li>
        </ul>
    </nav>

    <form th:action="@{/client/payments}" method="get">

        <input type="hidden" name="page" th:value="0">
        <input type="hidden" name="sort" th:value="${sort}">
        <input type="hidden" name="order" th:value="${order}">

        <select name="size">

            <option th:if="${param.size == null}" value="3">3</option>
            <option th:if="${param.size == null}" value="6">6</option>
            <option selected th:if="${param.size == null}" value="9">9</option>
            <option th:selected="${param.size[0] == '3'}" th:unless="${param.size == null}" value="3">3</option>
            <option th:selected="${param.size[0] == '6'}" th:unless="${param.size == null}" value="6">6</option>
            <option th:selected="${param.size[0] == '9'}" th:unless="${param.size == null}" value="9">9</option>

            <input type="submit" value="go">
        </select>
    </form>
</div>


<div th:if="${paymentList.isEmpty()}">

    <h1 style="text-align:center" th:text="#{youHaveNoPayments}"></h1>
    <h1><a style="text-align:center" class="nav-link" th:href="@{/client/card/payment}"
           th:text="#{navBar.makePayment}"></a>
    </h1>
    <img style="width: 900px; height: 888.042px; display: block;margin-left: auto; margin-right: auto; margin-top: 150px"
         src="../img/cardLogo.png" th:src="@{~/img/cardLogo.png}"/>

</div>

</body>
</html>
