<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body>

<header th:fragment="header">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div sec:authorize="hasAuthority('CLIENT')">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <a class="navbar-brand" href="#">Payments</a>


            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/client/cards}" th:text="#{navBar.myCards}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/client/card/payment}" th:text="#{navBar.makePayment}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/client/card/create}" th:text="#{navBar.makeCard}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/client/payments}" th:text="#{navBar.myPayments}"></a>
                </li>
            </ul>

            <div style="margin-left: auto; margin-right: 0;">
                <a href="?lang=en" th:if="${#locale.toString().equals('uk')}" th:text="#{changeLanguageTo}"></a>
                <a href="?lang=uk" th:if="${#locale.toString().equals('en')}" th:text="#{changeLanguageTo}"></a>
            </div>

            <div style="margin-left: 15px">

                <span class="badge badge-warning" th:text="#{navBar.logout}"></span>
            </div>
        </nav>
        <br>
        </nav>
    </div>


    <div sec:authorize="hasAuthority('ADMINISTRATOR')">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <a class="navbar-brand" href="#">Payments</a>


            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}" th:text="#{navBar.allUsers}"></a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/cards/unblock-request}"
                       th:text="#{navBar.cardsUnblockRequest}"></a>
                </li>
            </ul>

            <div style="margin-left: auto; margin-right: 0;">

                <a href="?lang=en" th:if="${#locale.toString().equals('uk')}" th:text="#{changeLanguageTo}"></a>
                <a href="?lang=uk" th:if="${#locale.toString().equals('en')}" th:text="#{changeLanguageTo}"></a>
            </div>

            <div style="margin-left: 15px">

                <span class="badge badge-warning" th:text="#{navBar.logout}"></span>
            </div>

        </nav>
        <br>
    </div>
    <div sec:authorize="hasAuthority('ROLE_ANONYMOUS')">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <a class="navbar-brand" href="#">Payments</a>

            <div style="margin-left: auto; margin-right: 0;">

                <a href="?lang=en" th:if="${#locale.toString().equals('uk')}" th:text="#{changeLanguageTo}"></a>
                <a href="?lang=uk" th:if="${#locale.toString().equals('en')}" th:text="#{changeLanguageTo}"></a>
            </div>
        </nav>
        <br>
    </div>
</header>


</body>
</html>