<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>


</head>
<body>
<div th:insert="fragments/navBar :: 'header'"></div>



<div class="container">
    <div class="row">
        <div style="width:400px; margin-top:30%; margin-left: 30%" class="card">
            <article class="card-body">
                <a th:href="@{/registration}" class="float-right btn btn-outline-primary" th:text="#{signUp}"></a>
                <h4 class="card-title mb-4 mt-1" th:text="#{signIn}"></h4>


                <div class="mb-3 text-center" th:if="${session != null && session.get('SPRING_SECURITY_LAST_EXCEPTION') != null }" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">

                    <div style="color: red" th:if="${errorMsg.equals('Bad credentials')}" th:text="#{authenticationFailed}"></div>
                    <div style="color: red" th:if="${errorMsg.equals('User account is locked')}" th:text="#{userIsBlocked}"></div>
                </div>

                <form name="f" th:action="@{/login}" method="post">

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user" th:text="#{email}"></i></span>
                        </div>
                        <input type="text" name="username" class="form-control" id="email"
                               maxlength="64">
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{password}"></span>
                        </div>
                        <input type="password" name="password" class="form-control"  id="password"
                               maxlength="64">
                    </div>

                    <button type="submit" class="btn btn-primary" th:text="#{login}"></button>

                </form>
            </article>
        </div>


    </div>

</div>


</body>
</html>